.fishList {
    background-color: coral;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 10px;
}

.fish {
    background-color: seashell;
    max-width: 20%;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px;
}


.fish__picture {
    max-width: 15rem;
    max-height: auto;
    object-fit: cover;
}