@import "fish.css";
@import "locations.css";
@import "tips.css";
@import "quotes.css";
@import "banner.css";

body {
    background-color: cornflowerblue;
    display: inline-block;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: coral;
}

.underTheBanner {
    display: flex;
    flex-direction: row;
}

.underTheBanner__left {
    display: flex;
    flex-direction: column;
    flex: 3.5;
}

.underTheBanner__right {
    flex: 1;
}