.quoteList {
    background-color: rgb(59, 236, 222);

}

.quote {
    background-color: seashell;

    display: flex;
    margin: 15px;
    font-size: 20px;
    padding-left: 5px;
}

.quote__header {
    background-color: seashell;
    margin: 15px;
    font-size: 35px;
    text-align: center;
    
}