.tipList {
    background-color: coral;
    height: 90%;
}

.tip__header {
    background: seashell;
    border-radius: 5px;
    font-size: 35px;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px; 
}
.tip__tip {
    background: seashell;
    border-radius: 5px;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
}